
        a{
            text-decoration: none;
            display: flex;
        }

        body {
            background: #D6D6D6;
        }

        html {
        border: 6px solid #c43140;
        }



        p, Ul,ol{
            margin: 20px auto;
            width: 80%;
            text-align: justify;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-family: "Poppins", sans-serif;
            line-height: 1.6;
        }

        *{
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }


        .navbar-nav {
            margin: 0 auto;
        }
        

    .card {
        width: 190px;
        height: 360px;
        background: white;
        padding: .4em;
        border-radius: 6px;
    }

    .card-image {
    background-color: rgb(236, 236, 236);
    height: 130px;
    border-radius: 6px 6px 0 0;
    padding: 0;
    margin: 0%;
    }

    .card-image img
    {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0%;
    object-fit: cover;
    }



    .card h1{
    font-size: 19px;
    }

    .card h1:hover{
    font-size: 19.5px;
    }

    .card-image:hover {
    transform: scale(1.016);
    }

    .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
    }

    .category:hover {
    cursor: pointer;
    }

    .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    }

    .heading:hover {
    cursor: pointer;
    }

    .container2{
        padding: 10px;
    }

    h2{
            margin: 20px auto;
            width: 80%;
            text-align: justify;
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-family: "Poppins", sans-serif;
            line-height: 1.6;
    } 

    h1{
        display: flex;
        padding-top: 20px;
        padding-bottom: 5px;
        margin: auto;
        justify-content: center;
    }

    .containerp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        gap: 2%;
    }

    i{
        font-size: 13px;
        padding:0px;
        margin: 0%;
        display: flex;
        align-items: center;
    }

    .nav-item:hover{
        background: #c73644f9;
    }

    .navbar-nav{
        margin: auto;
        justify-content: center;
        display: flex;
        gap: 15px;
    }

    .navbar-nav nav-item{
        margin: auto;
        justify-content: center;
        display: block;
    }